<!DOCTYPE html>
<html>
  <head>
    <title>Jobify</title>
    <link href="estilos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
   <body>
     <img src="images/logo.png" alt="jobify - by Devpleno">
     <h1><p> We are Jobify -  Join US !</p></h1>
     <h2>Open roles:</h2>
    <div>
       <h3>Engineering team</h3>
       <ul>
          <li><a href='vaga'>Fullstack Developer (Remote)</a></li>
       </ul>
    </div> 
    <div>
       <h3>Marketing team</h3>
       <ul>
          <li>Digital Marketing (San Francisco)</li>
       </ul>
    </div> 
  </body>

</html>